# Unix - Conda - Pip

设置代理

In [1]:
import os

# 设置代理服务器的地址和端口
hostip = os.popen("ip route | grep default | awk '{print $3}'").read().strip()
socks_hostport = "10810"
http_hostport = "10811"

os.environ['https_proxy'] = f"http://{hostip}:{http_hostport}"
os.environ['http_proxy'] = f"http://{hostip}:{http_hostport}"
os.environ['ALL_PROXY'] = f"socks5://{hostip}:{socks_hostport}"
os.environ['all_proxy'] = f"socks5://{hostip}:{socks_hostport}"

We run commands in CLI, e.g., Terminal, but here we are using Jupyter Notebook to demonstrate:

1. Output from commands
2. That when experiementing or developing programs in the notebook, you can avoid switching tools.
3. That you can install pacakges in the beginning of the notebook (e.g., Sagemaker) so it's clear what packages are used.

## Unix commands

### Basics

For some of the basic commands, you can run use the cell to run it directly:

In [1]:
pwd # print working directory

'/home/ongraiso/cugb/python/ml_work/code/my-awesome-repo/software-dev-for-ml-101/notebooks'

You always want to know "where you are" and how to look for help. Use `man` to display the user manual of any command that we can run on the terminal.

In [4]:
man pwd # press ESC to exit

PWD(1)                    User Commands                   PWD(1)

NAME
       pwd - print name of current/working directory

SYNOPSIS
       pwd [OPTION]...

DESCRIPTION
       Print the full filename of the current working directory.

       -L, --logical
              use PWD from environment, even if it contains sym‐
              links

       -P, --physical
              avoid all symlinks

       --help display this help and exit

       --version
              output version information and exit

       If no option is specified, -P is assumed.

       NOTE: your shell may have its own version of  pwd,  which
       usually  supersedes  the  version described here.  Please
       refer to your shell's documentation for details about the
       options it supports.

AUTHOR
       Written by Jim Meyering.

REPORTING BUGS
       GNU  coreutils  online  help:  <https://www.gnu.org/soft‐
       ware/coreutils/>
       Report any translation bugs  to  <https://translationpro‐
       ject.org/team/>

COPYRIGHT
       Copyright  © 2020 Free Software Foundation, Inc.  License
       GPLv3+: GNU GPL version 3 or  later  <https://gnu.org/li‐
       censes/gpl.html>.
       This  is free software: you are free to change and redis‐
       tribute it.  There is NO WARRANTY, to the extent  permit‐
       ted by law.

SEE ALSO
       getcwd(3)

       Full   documentation  <https://www.gnu.org/software/core‐
       utils/pwd>
       or available locally via: info '(coreutils)  pwd  invoca‐
       tion'

GNU coreutils 8.32       February 2022                   PWD(1)

Further, cell magic `%%bash` turns a cell into a bash script where you can run multiple lines (See more cell/line magics [here](https://ipython.readthedocs.io/en/stable/interactive/magics.html)).

In [5]:
%%bash
pwd
ls -lah # WE DO: What are those flags for?

/home/ongraiso/cugb/python/ml_work/code/my-awesome-repo/software-dev-for-ml-101/notebooks
total 48K
drwxr-xr-x 2 ongraiso ongraiso 4.0K Dec 23 00:00 .
drwxr-xr-x 3 ongraiso ongraiso 4.0K Dec 23 00:00 ..
-rw-r--r-- 1 ongraiso ongraiso  40K Dec 23 00:45 unix-conda-pip.ipynb

### Download a data file

Let's download some data from [Census Income Data Set](https://archive.ics.uci.edu/ml/datasets/Census+Income); but first we would like to make a new directory to store the data at the same level as `nb` directory.

In [8]:
%%bash
cd ..
# WE DO: make a new diretory called `dat` under the project root directory
mkdir dat

Let's confirm that we just created an empty directory `dat` using command `tree`. Not all command can be run in the cell directly, adding ! in front of command can do the trick:

In [46]:
!tree .. -L 2

..
├── dat
├── notebooks
│   └── unix-conda-pip.ipynb
└── software-dev-for-ml-101.md

2 directories, 2 files

In [49]:
# download a csv file
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data -O ../dat/adult.csv

--2023-12-23 09:47:17--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Connecting to 172.18.208.1:10811... connected.
Proxy request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘../dat/adult.csv’

../dat/adult.csv        [            <=>     ]   3.79M  1.02MB/s    in 3.7s

2023-12-23 09:47:25 (1.02 MB/s) - ‘../dat/adult.csv’ saved [3974305]

In [7]:
!tree .. -L 2 # check again

..
├── LICENSE
├── README.md
├── dat
│   └── adult.csv
├── md
│   └── git-more.md
└── nb
    └── unix-conda-pip.ipynb

3 directories, 5 files

### Inspect data

Let's inspect first 10 lines of data:

In [8]:
!head ../dat/adult.csv

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K
38, Private, 215646, HS-grad, 9, Divorced, Handlers-cleaners, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K
53, Private, 234721, 11th, 7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male, 0, 0, 40, United-States, <=50K
28, Private, 338409, Bachelors, 13, Married-civ-spouse, Prof-specialty, Wife, Black, Female, 0, 0, 40, Cuba, <=50K
37, Private, 284582, Masters, 14, Married-civ-spouse, Exec-managerial, Wife, White, Female, 0, 0, 40, United-States, <=50K
49, Private, 160187, 9th, 5, Married-spouse-absent, Other-service, Not-in-family, Black, Female, 0, 0, 16, Jamaica, <=50K
52, Self-emp-not-inc, 209642, HS-grad, 9, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 45, United-States, >50K
31, Private, 45781, Masters, 14, Never-married, Prof-specialty, Not-in-family, White, Female, 14084, 0, 50, United-States, >50K
42, Private, 159449, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 5178, 0, 40, United-States, >50K

How about the last 3 lines? ( wait, I only see 2 lines. what's wrong? )

In [50]:
!tail -n 3 ../dat/adult.csv

22, Private, 201490, HS-grad, 9, Never-married, Adm-clerical, Own-child, White, Male, 0, 0, 20, United-States, <=50K
52, Self-emp-inc, 287927, HS-grad, 9, Married-civ-spouse, Exec-managerial, Wife, White, Female, 15024, 0, 40, United-States, >50K

How many records are there?

In [51]:
!wc -l ../dat/adult.csv

32562 ../dat/adult.csv

Challenge: how many columns are there?

In [52]:
!head -1 ../dat/adult.csv | sed 's/[^,]//g' | wc -c

15

## Conda: environment manager + package manager

You might have heard about Anaconda / Miniconda / Miniforge:

- What is the difference between `conda` and `miniconda`? [An answer](https://stackoverflow.com/questions/45421163/anaconda-vs-miniconda).
- What is the difference between `miniconda` and `miniforge`? [An answer](https://stackoverflow.com/questions/60532678/what-is-the-difference-between-miniconda-and-miniforge).

Though Conda is considered both a package manager and an environment manager, we  focus on using it as the environment manager, and use `pip` as the package manager.

### Installation

First, install `miniconda` (Feel free to skip if you have already installed it, or any flavor of conda).

Run the following commands in terminal to download the lastest Miniconda distribution and install it (Mac Intel Book). 

    ```
    cd ~
    wget https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
    bash Miniconda3-latest-MacOSX-x86_64.sh
    ```

For M1 chip, install `miniforge` instead. If you are new to `brew`, following instructions [here](https://brew.sh) to install Homebrew first:

    ```
    brew install miniforge
    ```

Outputs from these installations are rather long, so we ask you to run it in a terminal window instead.

Confirm that the installation is successful:

In [53]:
%%bash
which conda  # where the executable conda is in my path?
conda -V     # which version of conda?
which python # where the executable python is in my path?
python -V    # what version of python?

/home/ongraiso/anaconda3/condabin/conda
conda 4.10.3
/home/ongraiso/anaconda3/envs/mlops-course/bin/python
Python 3.8.18

### Create a new env

Create a new conda environment named `py39_12` where you specify a python version to be 3.9.12. Note the last flag `--yes` to skip the confirmation prompt.

In [54]:
!conda create --name py39_12 python=3.9.12 --yes

Collecting package metadata (current_repodata.json): done
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.3
  latest version: 23.11.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/ongraiso/anaconda3/envs/py39_12

  added / updated specs:
    - python=3.9.12


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    python-3.9.12              |h2660328_1_cpython        26.6 MB  https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
    sqlite-3.44.2              |       h2c6b66d_0         817 KB  https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
    tzdata-2023d               |       h0c530f3_0         117 KB  https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
    ------------------------------------------------------------
                                           Total:        27.5 MB

The following NEW packages will be INSTALLED:

  _libgcc_mutex      anaconda/cloud/conda-forge/linux-64::_libgcc_mutex-0.1-conda_forge
  _openmp_mutex      anaconda/cloud/conda-forge/linux-64::_openmp_mutex-4.5-2_gnu
  bzip2              anaconda/cloud/conda-forge/linux-64::bzip2-1.0.8-hd590300_5
  ca-certificates    anaconda/cloud/conda-forge/linux-64::ca-certificates-2023.11.17-hbcca054_0
  ld_impl_linux-64   anaconda/cloud/conda-forge/linux-64::ld_impl_linux-64-2.40-h41732ed_0
  libffi             anaconda/cloud/conda-forge/linux-64::libffi-3.4.2-h7f98852_5
  libgcc-ng          anaconda/cloud/conda-forge/linux-64::libgcc-ng-13.2.0-h807b86a_3
  libgomp            anaconda/cloud/conda-forge/linux-64::libgomp-13.2.0-h807b86a_3
  libnsl             anaconda/cloud/conda-forge/linux-64::libnsl-2.0.1-hd590300_0
  libsqlite          anaconda/cloud/conda-forge/linux-64::libsqlite-3.44.2-h2797004_0
  libuuid            anaconda/cloud/conda-forge/linux-64::libuuid-2.38.1-h0b41bf4_0
  libzlib            anaconda/cloud/conda-forge/linux-64::libzlib-1.2.13-hd590300_5
  ncurses            anaconda/cloud/conda-forge/linux-64::ncurses-6.4-h59595ed_2
  openssl            anaconda/cloud/conda-forge/linux-64::openssl-3.2.0-hd590300_1
  pip                anaconda/cloud/conda-forge/noarch::pip-23.3.2-pyhd8ed1ab_0
  python             anaconda/cloud/conda-forge/linux-64::python-3.9.12-h2660328_1_cpython
  readline           anaconda/cloud/conda-forge/linux-64::readline-8.2-h8228510_1
  setuptools         anaconda/cloud/conda-forge/noarch::setuptools-68.2.2-pyhd8ed1ab_0
  sqlite             anaconda/cloud/conda-forge/linux-64::sqlite-3.44.2-h2c6b66d_0
  tk                 anaconda/cloud/conda-forge/linux-64::tk-8.6.13-noxft_h4845f30_101
  tzdata             anaconda/cloud/conda-forge/noarch::tzdata-2023d-h0c530f3_0
  wheel              anaconda/cloud/conda-forge/noarch::wheel-0.42.0-pyhd8ed1ab_0
  xz                 anaconda/cloud/conda-forge/linux-64::xz-5.2.6-h166bdaf_0



Downloading and Extracting Packages
sqlite-3.44.2        | 817 KB    | ##################################### | 100%
tzdata-2023d         | 117 KB    | ##################################### | 100%
python-3.9.12        | 26.6 MB   | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
#
# To activate this environment, use
#
#     $ conda activate py39_12
#
# To deactivate an active environment, use
#
#     $ conda deactivate

In [56]:
# YOU CODE HERE 
# list all environments in conda
!conda info --envs

# conda environments:
#
base                     /home/ongraiso/anaconda3
mlops-course          *  /home/ongraiso/anaconda3/envs/mlops-course
py39_12                  /home/ongraiso/anaconda3/envs/py39_12

You shall see something like this:
```
# conda environments:
#
                         /Users/flora/miniforge3
                         /Users/flora/miniforge3/envs/tf38
base                  *  /usr/local/Caskroom/miniforge/base
py39                     /usr/local/Caskroom/miniforge/base/envs/py39
py39_12                  /usr/local/Caskroom/miniforge/base/envs/py39_12
```

### Activate an env

By default, you are under the `base` environment, to activate the new environement, run `conda activate py39_12` in terminal.

If you are using VS code, click on the top right button to switch python kernel. You will be prompted to install `ipykernel`, follow the instructions to install the package. Or you can run `source activate`, followed by 
`conda activate /usr/local/Caskroom/miniforge/base/envs/py39_12` in a cell. 

If you are using jupyter notebook on a localhost (by defaut 8888), you can restart the jupyter notebook after activating the new environment.

Now verify the python version:

In [1]:
%%bash

python --version
which python
conda env list

Python 3.9.12
/home/ongraiso/anaconda3/envs/py39_12/bin/python
# conda environments:
#
base                     /home/ongraiso/anaconda3
mlops-course             /home/ongraiso/anaconda3/envs/mlops-course
py39_12               *  /home/ongraiso/anaconda3/envs/py39_12

<details>
<summary>Click to see how to add the Conda env to you jupyter notebook kernels</summary>

```
pip install ipykernel
python -m ipykernel install --user --name=py39_12
```

Next time you launch jupyter notebook, you will see `py39_12` as an option under Kernel/Change kernel.
</details>

### Delete an env

To keep a lean list of environments, we want to prune unused environements from time to time. Simply do the following
```
conda remove --name old_env --all --yes
```

## Pip: python package manager

We recommend to use pip as your python package installer/manager [(fun read on pip vs conda.)](https://stackoverflow.com/questions/20994716/what-is-the-difference-between-pip-and-conda) Note you don't have install pip explictly since it was done during the installation of miniconda/miniforge.

In [3]:
!which pip

/home/ongraiso/anaconda3/envs/py39_12/bin/pip

### Install package

We can certainly run `pip` commands the same way as earlier. Just for fun, let's try Jupyter line magic `%pip`. 

First make sure that we would like to have the most recent version of `pip` installed.

In [4]:
%pip install --upgrade pip

Requirement already satisfied: pip in /home/ongraiso/anaconda3/envs/py39_12/lib/python3.9/site-packages (23.3.2)
Note: you may need to restart the kernel to use updated packages.

In [7]:
%pip install numpy pandas

Collecting numpy
  Using cached numpy-1.26.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting pandas
  Using cached pandas-2.1.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ongraiso/anaconda3/envs/py39_12/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in /home/ongraiso/anaconda3/envs/py39_12/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading numpy-1.26.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 2.3 MB/s eta 0:00:0000:0100:01m
Downloading pandas-2.1.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 2.1 MB/s eta 0:00:0000:0100:01
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 1.4 MB/s eta 0:00:00ta 0:00:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

Now you can use these packages:

In [2]:
# allow multiple outputs in a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import numpy as np

# create a numpy array with random numbers
x = np.random.rand(10)
x.shape
x.reshape((5,-1))

(10,)

array([[0.77677533, 0.75485104],
       [0.26904694, 0.22515362],
       [0.65155147, 0.15520647],
       [0.29107858, 0.21562452],
       [0.68081179, 0.30715505]])

In [4]:
%precision 3
x.reshape((5,-1))

'%.3f'

array([[0.777, 0.755],
       [0.269, 0.225],
       [0.652, 0.155],
       [0.291, 0.216],
       [0.681, 0.307]])

In [5]:
import pandas as pd
census_df = pd.read_csv(filepath_or_buffer='../dat/adult.csv', header = None)
census_df.head()
census_df.tail()
census_df.shape

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

(32561, 15)

### Uninstall packages

In [6]:
# Uninstall a package
%pip uninstall numpy pandas --yes

Found existing installation: numpy 1.26.2
Uninstalling numpy-1.26.2:
  Successfully uninstalled numpy-1.26.2
Found existing installation: pandas 2.1.4
Uninstalling pandas-2.1.4:
  Successfully uninstalled pandas-2.1.4
Note: you may need to restart the kernel to use updated packages.

In [7]:
%pip cache purge

Files removed: 202
Note: you may need to restart the kernel to use updated packages.